<% unless @params.nil? %>
  Name: <%= @params['name'] %>
<% end %>

<%= form_for contact_post_path, method: :post, html: { class: 'selam' }  do |f| %>
  <%= f.text_field  :name,      placeholder: 'Adınız' %>
  <%= f.text_field  :surname,   placeholder: 'Soyadınız' %>
  <%= f.email_field :email,     placeholder: 'Email Adresiniz' %>
  <%= f.phone_field :phone,     placeholder: 'Telefon Numaranız' %>
  <%= f.text_area   :message,   placeholder: 'Mesajınız' %>
  <%= f.submit %>
<% end %>
