<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for @post do |f| %>
    <%= f.text_field :title, placeholder: 'Başlık' %>
    <%= f.text_area :content, placeholder: 'İçerik' %>
    <%= f.number_field :rating, placeholder: 'Derecelendirme' %>
    <%= f.submit "Enter" %>
<% end %>
