<h1>Yazıyı Düzenle</h1>
<% if @post.errors.any? %>
    <p>
    <%= @post.errors.full_messages %>
    </p>
<% end %>
<%= form_for @post, url: posts_update_path do |f| %>
    <%= f.text_field :title, placeholder: 'Başlık' %>
    <%= f.select :category_id, @categories %>
    <%= f.text_field :content, placeholder: 'İçerik' %>
    <%= f.text_field :rating, placeholder: 'Derecelendirme' %>
    <%= f.submit "Enter" %>
<% end %>
