<h1>Yazılar</h1>
<%= link_to 'Yeni Yazı Ekle', posts_new_path %>
<% @posts.each do |post| %>
<p>
        Başlık: <%= link_to post.title, posts_show_path(post.slug) %><br/>
        Kategori: <%= link_to post.category.name, category_path(post.category) %><br/>
        İçerik: <%= post.content %><br/>
        Oluşturulma Tarihi: <%= post.created_at %><br/>
        Güncellenme Tarihi: <%= post.updated_at %>
    <%= link_to "Düzenle", posts_edit_path(post.slug) %>
    <%= link_to "Sil", posts_destroy_path(post.slug), method: :delete, data:{ confirm: "Silmek istediğinize emin misiniz?" } %>
</p>
<% end %>
