// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new_post{
  input, textarea{
    margin-bottom: 10px;
    width: 200px;
  }
}
