<h1>Kategoriler</h1>
<%= link_to "Yeni Kategori Oluştur", new_category_path %>
<% @categories.each do |category| %>
    <p>
        <%= link_to category.name, category_path(category) %> -
        <%= category.description %>
        <%= link_to "Düzenle", edit_category_path(category) %>
        <%= link_to "Sil", category_path(category), method: :delete, data: { confirm: "Silmek istediğinize emin misiniz?"} %>
    </p>
<% end %>

