<h1>Yeni Kayıt Ekle</h1>
<% if @category.errors.any? %>
    <p>
    <%= @category.errors.full_messages %>
    </p>
<% end %>
<%= form_for @category do |f| %>
    <%= f.text_field :name, placeholder: 'İsim' %>
    <%= f.text_field :description, placeholder: 'Açıklama' %>
    <%= f.submit "Enter" %>
<% end %>
