<header>
  <%= link_to 'Ana Sayfa', root_path %> |
  <%= link_to 'İletişim Sayfası', contact_page_path %> |
  <%= link_to 'Yazılar',  posts_index_path %> |
  <%= link_to 'Kategoriler',  categories_path %>
</header>
